<article class="card card-rating @@state">
  <span class="card-rating__rating rating --svg__rating" data-rating="@@rating">
  </span>
  <a href="@@webRoot/@@link-to" class="card__link-img">
    <picture class="picture">
      <source data-srcset="@@webRoot/@@imgsrc.webp">
      <img class="lazyload" data-src="@@webRoot/@@imgsrc.png" alt="@@name">
    </picture>
  </a>
  <a href="@@webRoot/@@link-to" class="link card__link">
    <h4 class="card__name h4">
      @@name
      <span class="card__model">
        @@model
      </span>
    </h4>
  </a>
  <p class="price">
      @@price руб
  </p>
  <button class="btn --outline btn-buy card-rating__btn">
    @@btn-text
  </button>
</article>
