<nav class="mainnav">
  <div class="mainnav__burger burger">
    <div></div>
  </div>
  <ul class="mainnav__list">
    <li class="mainnav__item">
      <a href="#" class="mainnav__link link">
        Каталог
      </a></li>
    <li class="mainnav__item">
      <a href="#" class="mainnav__link link">
        Магазины
      </a></li>
    <li class="mainnav__item">
      <a href="#" class="mainnav__link link">
        Шоу-рум
      </a></li>
    <li class="mainnav__item">
      <a href="#" class="mainnav__link link">
        Доставка и оплата
      </a></li>
    <li class="mainnav__item">
      <a href="#" class="mainnav__link link">
        Дисконт
      </a></li>
    <li class="mainnav__item">
      <a href="#" class="mainnav__link link">
        Контакты
      </a></li>
  </ul>
</nav>
