<article class="swiper-slide hero__slide">
  <div class="swiper-lazy-preloader"></div>
  <picture class="picture">
    <source media="(max-width: 320px)" data-srcset="@@img-320.webp">
    <source media="(max-width: 768px)" data-srcset="@@img-768.webp">
    <source media="(max-width: 1024px)" data-srcset="@@img-1024.webp">
    <source data-srcset="@@img.webp">
    <img data-src="@@img.jpg" class="swiper-lazy" alt="@@alt">
  </picture>
  <div class="container">
    <h2 class="h2 hero__title @@color">
      @@title
    </h2>
    <a href="@@linkto" class="btn --primary btn-big hero__btn">
      @@button
    </a>
  </div>
</article>
