<article class="topcategory__card card @@class @@class--@@number">
  <ul class="topcategory__toplist">
    <li class="topcategory__topitem">
      <a href="@@top-links.link1.link" class="link link--light topcategory__toplink">
        @@top-links.link1.name
      </a>
    </li>
    <li class="topcategory__topitem">
      <a href="@@top-links.link2.link" class="link link--light topcategory__toplink">
        @@top-links.link2.name
      </a>
    </li>
    <li class="topcategory__topitem">
      <a href="@@top-links.link3.link" class="link link--light topcategory__toplink">
        @@top-links.link3.name
      </a>
    </li>
  </ul>
  <a href="@@btn-link" class="link link-icon topcategory__name-link">
    <h4 class="h4 topcategory__name">
    @@name
    </h4>
    <span class="link-icon__icon">
      <svg class="small-arrow">
        <use xlink:href="img/sprite.svg#sprite--small-arrow" />
      </svg>
    </span>
  </a>

  <a href="@@btn-link" class="card__link-img">
    <picture class="picture">
      <source data-srcset="@@imgsrc.webp">
      <img class="lazyload" data-src="@@imgsrc.png" alt="@@name">
    </picture>
  </a>
  <a href="@@btn-link" class="link link--primary link-icon topcategory__btn">
    <span class="link-icon__name">
      @@btn-text
    </span>
    <span class="link-icon__icon">
      <svg class="small-arrow">
        <use xlink:href="img/sprite.svg#sprite--small-arrow" />
      </svg>
    </span>
  </a>
</article>
