.breadcrumbs{
  &__list{
    display: flex;
  }
  &__item{
    a{
      max-width: 200px;
    }
    &:not(:last-child){
      &::after{
        content: '/';
        display: inline-flex;
        padding: 0 5px;
        font-size: 14px;
        color: $grey;
      }
    }
  }
  &__link{
    &--active{
      color: $primary-dark;
    }
  }
}
