.--svg__briefcase,.--svg__briefcase-before::before,.--svg__briefcase-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='25' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.833 7.292H4.166c-1.15 0-2.083.932-2.083 2.083v10.417c0 1.15.933 2.083 2.083 2.083h16.667c1.15 0 2.083-.933 2.083-2.083V9.375c0-1.15-.932-2.083-2.083-2.083z' stroke='%23FF862F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.666 21.875V5.208a2.083 2.083 0 00-2.083-2.083h-4.167a2.083 2.083 0 00-2.083 2.083v16.667' stroke='%23FF862F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__briefcase-before::before {
    content:'';
}
.--svg__briefcase-after::after {
    content:'';
}
.--svg__git-pull-request,.--svg__git-pull-request-before::before,.--svg__git-pull-request-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='25' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.75 21.875a3.125 3.125 0 100-6.25 3.125 3.125 0 000 6.25zM6.25 9.375a3.125 3.125 0 100-6.25 3.125 3.125 0 000 6.25zM13.542 6.25h3.125a2.083 2.083 0 012.083 2.083v7.292M6.25 9.375v12.5' stroke='%23FF862F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__git-pull-request-before::before {
    content:'';
}
.--svg__git-pull-request-after::after {
    content:'';
}
.--svg__network,.--svg__network-before::before,.--svg__network-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='25' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.625 2.083h-6.25v6.25h6.25v-6.25zM22.917 16.667h-6.25v6.25h6.25v-6.25zM8.333 16.667h-6.25v6.25h6.25v-6.25zM12.5 12.5h7.291v4.167M12.5 8.333V12.5 8.333zm0 4.167H5.208v4.167L12.5 12.5z' stroke='%23FF862F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__network-before::before {
    content:'';
}
.--svg__network-after::after {
    content:'';
}
.--svg__rating,.--svg__rating-before::before,.--svg__rating-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.226 5.282l-4.717-.684L8.4.33a.597.597 0 00-1.066 0L5.225 4.598.51 5.282a.594.594 0 00-.33 1.013l3.413 3.321-.806 4.69a.592.592 0 00.862.625l4.22-2.214 4.218 2.214a.593.593 0 00.862-.625l-.806-4.69 3.413-3.321a.592.592 0 00-.33-1.013z' fill='%23FF862F'/%3E%3C/svg%3E");
}
.--svg__rating-before::before {
    content:'';
}
.--svg__rating-after::after {
    content:'';
}