<footer class="footer">
  <div class="footer__main">
    <div class="container footer__container">
      <div class="footer__left">
        <a href="/" class="footer__logo">
          <img src="@@webRoot/img/logo.svg" alt="Логотип">
        </a>
        <div class="footer__social">
          <a href="#" class="footer__social-link">
            <svg class="social">
              <use xlink:href="@@webRoot/img/sprite.svg#sprite--fb" />
            </svg>
          </a>
          <a href="#" class="footer__social-link">
            <svg class="social">
              <use xlink:href="@@webRoot/img/sprite.svg#sprite--vk" />
            </svg>
          </a>
          <a href="#" class="footer__social-link">
            <svg class="social">
              <use xlink:href="@@webRoot/img/sprite.svg#sprite--instagram" />
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__right">
        <ul class="footer__list">
          <li class="footer__item">
            О нас
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link link link--light">
              О компании
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link link link--light">
              Блог
            </a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            Услуги
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link link link--light">
              Доставка
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link link link--light">
              Рассрочка и кредит
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link link link--light">
              Сборка и установка
            </a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            Связь с нами
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link link link--light">
              Обратная связь
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link link link--light">
              Контакты
            </a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            Сотрудничество
          </li>
          <li class="footer__item">
            <a href="@@webRoot/cooperation.html" class="footer__link link link--light">
              Поставщикам
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link link link--light">
              Оптовикам
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link link link--light">
              Карьера
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <p class="footer__copy">
        SDP®  2011-2021
      </p>
    </div>
  </div>
</footer>
