<div class="header__search search">
  <form action="#" class="search__form">
    <input class="search__input" type="search" name="search" id="search" placeholder="Я хочу купить...">
    <svg class="search-icon">
      <use xlink:href="img/sprite.svg#sprite--search"/>
    </svg>
    <button type="submit" class="btn btn-circle search__btn" aria-label="Кнопка искать">
      <svg class="arrow">
        <use xlink:href="img/sprite.svg#sprite--slider-arrow" />
      </svg>
    </button>
  </form>
  <select name="sort" id="search-sort" class="search__sort" aria-label="Выобор категории">
    <option value="">Категория</option>
  </select>
</div>
