<section class="section coop">
  <div class="container">
    <h3 class="h3 section__title coop__title">
      Сотрудничество
    </h3>
    <div class="coop__wrapper">
      <div class="coop__block">
        <h4 class="h4 coop__subtitle">
          Поставщикам
        </h4>
        <p class="coop__text">
          При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего трафика.
        </p>
      </div>
      <div class="coop__block">
        <h4 class="h4 coop__subtitle">
          Что вы получаете?
        </h4>
        <ul class="coop__list">
          <li class="coop__item --svg__network-before">
            <p class="coop__text">
              Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
            </p>
          </li>
          <li class="coop__item --svg__briefcase-before">
            <p class="coop__text">
              Комплексное решение для красивого и функционального обустройства любых пространств.
            </p>
          </li>
          <li class="coop__item --svg__git-pull-request-before">
            <p class="coop__text">
              В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
            </p>
          </li>
        </ul>
      </div>
      <div class="coop__block">
        <h4 class="h4 coop__subtitle">
          Ваши преимущества от сотрудничества
        </h4>
        <p class="coop__text --secondary mb">
          Возможность 1:
        </p>
        <p class="coop__text mb">
          Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а мы поможем правильно выбрать мебель.
        </p>
        <p class="coop__text --secondary mb">
          Возможность 2:
        </p>
        <p class="coop__text">
          Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
        </p>
      </div>
      <div class="coop__block">
        <h4 class="h4 coop__subtitle">
          Гарантии
        </h4>
        <ol class="coop__o-list">
          <li class="coop__o-item">
            <p class="coop__text">
              При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
            </p>
          </li>
          <li class="coop__o-item">
            <p class="coop__text">
              На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
            </p>
          </li>
          <li class="coop__o-item">
            <p class="coop__text">
              Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
            </p>
          </li>
        </ol>
      </div>
      <div class="coop__garant">
        <p class="coop__garant-text">
          Срок гарантии на нашу мебель составляет от 18 до 60 месяцев
        </p>
      </div>
    </div>
  </div>
</section>
